<?xml version="1.0"?>
<menu>

   

<dish>
    <name>Burger</name>
    <price>8.99</price>
</dish>

<dish>
<name>Burger</name>
<price>8.99</price>
</dish>

<dish>
<name>Pizza</name>
<price>1.99</price>
</dish>

<dish>
<name>Doner</name>
<price>3.99</price>
</dish>


<dish>
<name>lahmacun</name>
<price>2.99</price>
</dish>

</menu>
