  *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        header{
            height:80px;
            background-color:gray;
        }
        header ul {
            list-style:none;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100%
        }
        header ul li {
            margin:0 20px;
        }